.our-employees {
  width: 100%;
  padding: 60px 20px;
  text-align: center;
  background:  #000;
}

.our-employees h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.our-employees p {
  max-width: 800px;
  margin: 0 auto 40px;
  color: #555;
  line-height: 1;
}

.slider {
  width: 900%;
  overflow: hidden;
  position: relative;
}

.slide-track {
  display: flex;
  gap: 25px;
  width: max-content;
  animation: scrollRightToLeft 10s linear infinite;
}

.employee-card {
  width: 250px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  flex-shrink: 0;
  transition: transform 10s;
}

.employee-card:hover {
  transform: translateY(-8px);
}

.employee-card img {
  width: 70%;
  height: 170px;
  object-fit: cover;
}

.employee-card h4 {
  padding: 15px;
  margin: 0;
  color: #333;
}

@keyframes scrollRightToLeft {
  from {
    transform: translateX(10%);
  }

  to {
    transform: translateX(-10%);
  }
}

/* Pause animation on hover */
.slider:hover .slide-track {
  animation-play-state: paused;
}