.trusted-section {
  background-color: #000;
  padding: 4rem 1rem;
  color: white;
  text-align: center;
}

.trusted-header {
  max-width: 800px;
  margin: 0 auto 3rem;
}

.trusted-subtitle {
  font-size: 2rem;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.trusted-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  line-height: 1.2;
}

.trusted-description {
  font-size: 1rem;
  color: white;
  line-height: 1.6;
}

.trust-points-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}

.trust-point {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: black;
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  border: 1px solid white;
}

.trust-icon {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.trust-point span {
  font-size: 0.9rem;
  color: white;
}

.trusted-cta {
  margin-top: 1rem;
}

.cta-button {
  color: white;
  border: none;
  padding: 1rem 2rem;
  width: 20%;
  border: white solid 1px;
  background-color: black;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cta-button:hover {
  background-color: white;
  color: black;
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .trusted-title {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .trust-points-grid {
    flex-direction: column;
    align-items: center;
  }

  .trust-point {
    width: 100%;
    max-width: 300px;
    justify-content: center;
  }
  .trusted-subtitle{
    font-size: 1.3rem;
  }
  .cta-button{
    width: 100%;
    font-size: 0.9rem;
  }
  .trusted-description{
    font-size: 0.9rem;  
    text-align: left;
  }
}